.page {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: $font-basic;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: $color-violet;
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;

    &__main {
        flex-grow: 1;
    }
}

@media (min-width: 768px) {
    .page {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .page {
        background-image: url('../images/bg-desktop.svg');
        background-size: cover;
    }
}
