$color-violet: hsla(257, 40%, 49%, 1);
$color-light-pink: hsla(301, 70%, 71%, 1);
$color-dark-pink: hsla(322, 100%, 66%, 1);

$shadow-sm: 1px 3px 5px rgba(0, 0, 0, .269022);
$shadow-lg: 2px 4px 9px 3px rgba(0, 0, 0, .258633);

$font-basic: 'Open Sans', sans-serif;
$font-title: 'Poppins', sans-serif;
